<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mdd.auto_test_back.mapper.ItemBankMapper">
    <insert id= "addItemBank">
        insert into itemBank (createTime, type, score, description) values (#{createTime}, #{type}, #{score}, #{description});
    </insert>

    <select id="getLastInsertId">
        select last_insert_id();
    </select>

    <select id="getItemBankById">
        select * from itemBank where id=#{id};
    </select>

    <update id="modItemBankById">
        update itemBank set questionId=#{questionId}, type=#{type}, score=#{score},description=#{description} where id=#{id};
    </update>

    <select id="getAllItemBank">
        select * from itemBank;
    </select>

    <delete id="deleteItemBankById">
        delete from itemBank where id=#{id};
    </delete>
</mapper>